@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.notes-page header {
    color: #ffffff;
    border-bottom: 3px solid #23282e;
    padding-bottom: 10px;
    height: 80px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
}

.section-container{
    display: flex;
}

.section-container aside{
    height: calc(100vh - 80px);
    min-width: 150px;
    border-right: 3px solid #23282e;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}
.section-container section{
    width: 100%;
    padding:20px;
    background-image: radial-gradient(circle at center, #292E36 0%, #20242B 50%, #1c2026 100% );
}
.border-purple{
    background-color: #c37cfc;
    width: 3px;
    height: 100%;
    box-shadow: 0 0 5px #c37cfc;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
    box-shadow: 0 0 5px #c37cfc, 0 0 8px #c37cfc;
    }
    to {
    box-shadow: 0 0 10px #c37cfc, 0 0 13px #c37cfc, 0 0 15px #c37cfc;
    }
}
.div-active-tasks{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #24282e;
    color: #fff;
}
.active-task-text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-go-to{
    width: 100%;
    height: 40px;
    border-radius: 0;
    background-color: #24282e;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 400;
}
.btn-go-to:hover{
    background-color: #2f343a;
}
.filter-container{
    color:  #ffffff; 
    display: flex;
    gap: 20px;
    align-items: center;
}
.filter-container select{
    -moz-appearance: none; 
    -webkit-appearance: none;
    appearance: none; 
    width: 80px;
    height: 30px;
    background-color: transparent;
    color: #fff;
    padding-left: 8px;
    border: 3px solid #686e75;
    border-radius: 5px;
}
.filter-container select option:not([value=""]) {
    color: white;
    background-color: #24282e;
}

.div-add{
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.btn-add{
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
}
.bi-plus-circle{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.bi-plus-circle:hover{
    color: #c37cfc;
    text-shadow: #c37cfc 0px 0px 5px;
    transition: all 0.1s ease-in-out;
}
.notes-list {
    position: relative; 
    padding-top: 10px;
    display: flex;
    width: 100%;
    gap: 20px;
    overflow-y: auto;
    flex-wrap: wrap;
    max-height: calc(100dvh - 150px);
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.notes-list::-webkit-scrollbar {
    display: none;
} 


.no-notes, .error-message, .loading {
    text-align: center;
    padding: 30px;
    background-color: #23282e;
    color: #fff;
    border-radius: 8px;
    border: 3px solid #686e75;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

@media (max-width: 500px){
    .filter-container label{
        display: none;
    }
}